body{
    background-image: url(003A177B-8951-43EB-B935-51D5428F017D.png);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: rgb(76, 88, 91, 0.7);
    background-image:url(https://images.unsplash.com/vector-1738163099087-35665e32d546?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXBwbGVzfGVufDB8MXwwfHx8Mg%3D%3D);
    background-position: center 40%;
    background-size: cover;
    width: 500px;
    height: 400px;
    border: 3px solid #93ef80;
    margin-top: 300px;
    align-items: center;
    font-family: "Oswald", sans-serif;
}

h1{
    align-self: center;
    font-size: 40px;
    color: #fff;
}

input{
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
}

#btn{
    background-color: #1d7b0a;
    font-family: "Oswald", sans-serif;  
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 50%;
    color: #fff;
    font-size: 20px;
}

.totalAmount{
    margin-top: 15px;
}

.dividedBill{
    font-size: 20px;
    font-weight: bold;
}